<% if !object.blank? %>
<div class="news_item" id="ni_<%= object.id %>">
	<div class="metadata">
		<div class="profile_info"><%= object.user.username %></div>
		<div class="datetime">
			<div class="date"><%= object.created_at.strftime('%d %b %Y') %></div>
			<div class="time"><%= object.created_at.strftime('%I:%M %p')  %></div>
		</div>
	</div>
	<div class="content">
		<%= object.content %>
		<% unless object.tags.blank? %>
			<div class="tags">
					<% object.tags.each do |tag| %>
						<div class="tag">
							<%= tag.tag_name %>
						</div>
					<% end %>
			</div>
		<% end %>
	</div>
	<% if current_user && current_user.username == object.user.username %>
		<%= link_to "Delete", "/news/#{object.id}", :confirm => 'Are you sure?', :remote => true, :class=>'delete_news_item', :method => :delete %>
	<% end %>
</div>
<% end %>
